*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.nav-container{

    
    height: 100px;
    
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 0 70px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;

    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    
}

.left-nav{
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}

#other{
    color: 3d4152;
    font-weight: 600;
    padding-bottom: 1px;
    font-size: 16px;
    border-bottom: 4px solid #3d4152;
    
    
}

#other:hover{
    cursor: pointer;
    color: #FC8019;
    border-bottom: 4px solid #FC8019;
}

#location{
    font-weight: 300;
    color: #686b78;
    font-size:13px;
}



.left-nav > img{
    
    width: 105px;
    height: 100px;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    
    
}

.left-nav > img:hover{
    
    transform-origin: 0px 0px;
    cursor: pointer;
    
    
}

.left-nav .material-icons{
    color: #FC8019 ;
    font-size: 18px;
    
}



.nav-items{
    display: flex;
    
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 80px;
    
}



.right-nav{
    display: flex;
    
    padding: 0 75px;
    
}




.items a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    color: #3D4157;
    
    text-decoration: none;
    
    
}

.items .material-icons{
    font-size: 18px;
    color: #888888;
    font-weight: 400;
    
}

.text{
    
    font-weight: 500;
    letter-spacing: 1px;
}

#cart{
    color: #60B246;
}

.content-section{
    display: grid;
    
    margin: 60px 70px 10px 150px;
    
    
   
    

}

.rest-container{
    
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid  #E9E9EB;
    letter-spacing: 1px;
    
}

.rest-container h1{
    padding-bottom: 10px;
    font-size: 35px;
    font-weight: 700;
    
}

.filters{
    display: flex;
    gap: 40px;
    

    font-weight: 300;
    color: #686b78;
    
}
.filters > span{
    padding-top: 5px;
    padding-bottom: 12px ;
}

.filters > .some-items:hover{
    cursor: pointer;
    
    border-bottom: 0.5px solid black;
}

.card-container{
    /* border: 2px solid red; */
    
    padding-top: 70px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    
    
}

.card{
    
    width: 86%;
    
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    padding-bottom: 15px;
    gap: 10px;
    
    
    
    
    /* padding: 20px; */
}

.cards{
    /* border: 1px solid red; */
    width: 100%;
    position: relative;
    
    
}

.cards > img{
   
    width: 100%;
    height: 40%;
    
    padding-bottom: 15px;
}

.card h2{
    
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.card p{
    color: #686b78;
   font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    
    padding-bottom: 10px;
    
}

.bullet{
    width: 5px;
    height: 5px;
    background-color:#686b78;
    border-radius: 50%;
   
}

.rating{
    display: flex;
    
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    background-color: #DB7C38;
    padding: 5px 8px;
    color: white;
}

.rating > .material-icons{
    font-size: 17px;
}
.rating-container{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px;
    
    
    
}

.timing{
    color: #535665;
    font-weight: 300;
    font-size: 12px;
}

.discount-container{
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
    color: #8a584b;
    font-size: 13px;
}

.btn{
    border: none;
    background-color: #fff;
    color: #5d8ed5;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 0;
   display: flex; 
   justify-content: center;
   
    
    
    
    visibility: hidden;

}

.line{
    visibility: hidden;
}

.card:hover .line{
    visibility: visible;
} 

.card:hover .btn{
    cursor: pointer;
    visibility: visible;
    
    

}

.promoted{
    background-color: #3A3C41;
    color: white;
    display: inline-block;
    position: absolute;
    left: -20px;
    padding: 6px 10px;
    font-size: 10px;
    z-index: 5;
}

.promoted::before{
    content: '';
    z-index: -10;
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #3A3C41;
    left: 1px;
    top: 19px;
    transform: skewY(40deg);
}






.custom{
    background-color: #48C479;
}

.card:hover{
    cursor: pointer;
    outline: 1px solid #D3D5DF;
    box-shadow:  0 15px 40px -15px rgba(13, 14, 19, 0.15);
}

.footer{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    padding: 100px;
    justify-items: center;
    
}

.foot-img{

    
    display: flex;

    flex-flow: column wrap;
    align-items: flex-end;
    
    row-gap: 60px;
    
    
    
}

.foot-items h3{
    color: #808080;
    
}

.foot-items{
    width: 200px;
}


.footer a{
    text-decoration: none;
    color: #FFF;
    
    
    
}

.footer li{
    list-style-type: none;
    padding-top: 25px;
    font-size: 19px;
    
}

.footer li:hover{
    font-size: 19.5px ;
}

.foot-img{
    width: 260px;
    
    
}

.footer img{
    border: 3px solid #808080;
    padding: 10px;
    width: 220px;
    height: 75px;
    border-radius: 10px;
}

.footer img:hover{
    width: 223px;
    height: 78px;
    cursor: pointer;
}




